body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.articles_news {
  margin-top: 5px;
  padding: 10px;
  border: solid 1px #000000;
  border-radius: 25px;
}

.active:hover {
  background: #FF0000;
}

.active {
  background: #FF0000;
}

.tags {
  float: left;
  margin: 3px 0px 3px 15px;
}
