<form style="width: 100%" name="description">
    <h3 id="qwe">Храните ваши заметки у нас. Легко и просто.</h3>
</form>
<form aria-label="...">
    <ul class="pagination pagination-lg">
        <li class="page-item"><a class="page-link" style="background: {{style_main}}" href="/">Главная</a></li>
        <li class="page-item"><a class="page-link" style="background: {{style_news}}" href="/news">Новости</a></li>
        <li class="page-item"><a class="page-link" style="background: {{style_features}}" href="/features" onload="f()">Фичи</a></li>
    </ul>
</form>