<form style="width: 100%" name="description">
    <h3>Храните ваши заметки у нас. Легко и просто.</h3>
</form>
<form aria-label="...">
    <ul class="pagination pagination-lg">
        <li class="page-item"><a class="page-link" href="/">Главная</a></li>
        <li class="page-item"><a class="page-link" href="/news">Новости</a></li>
        <li class="page-item"><a class="page-link" href="/features">Фичи</a></li>
    </ul>
</form>