<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/static/bootstrap.min.css'/>
      <link rel='stylesheet' href='/static/style.css'/>
  </head>
  <body>
  {{> header}}
   <div class="content">{{{body}}}</div>
  {{> footer}}
  <script src="script/script.js"></script>
  <script src="script/jquery.js"></script>
  <script src="script/bootstrap.bundle.js"></script>
  </body>
</html>
