<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/static/bootstrap.min.css'/>
      <link rel='stylesheet' href='/static/style.css'/>
  </head>
  <body>
  {{> header}}
    {{{body}}}
  <script src="script/script.js"></script>
  </body>
</html>
