<h2>{{news}}</h2>

<form method="POST">
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Опубликовать</button>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" name="articles">
</div>
</form>

    {{#articles}}

        <form class="articles-news" name="news" _method="put"  id="{{rowId}}">
            {{post}}
            <button type="submit" class="close" data-dismiss="alert" aria-label="Close" name="delete" >
                <span aria-hidden="true">&times;</span>
            </button>
            <p>
                <tag class="tags">{{#tags}}<a href="">{{.}}</a>{{/tags}}</tag>
            </p>
        </form>


    {{/articles}}

